LOG_LEVEL=DEBUG

# IP y puerto de la máquina donde corre Kernel Scheduler
IP_KERNEL=127.0.0.1
PUERTO_KERNEL=19337

# IP y puerto de la máquina donde corre Kernel Memory
IP_MEMORY=127.0.0.1
PUERTO_MEMORY=23841

# Tamaño máximo de segmento (debe coincidir con SEGMENT_MAX_SIZE en KM)
SEGMENT_MAX_SIZE=128
