LOG_LEVEL=DEBUG

# IP y puerto de la máquina donde corre Kernel Memory
KERNEL_MEMORY_IP=127.0.0.1
KERNEL_MEMORY_PORT=23841

# Puerto en el que este Kernel Scheduler escucha (CPUs e IOs se conectan acá)
KERNEL_SCHEDULER_PORT=19337

PLANIFICATION_ALGORITHM=CMN
QUEUES_ALGORITHMS=[FIFO,RR,FIFO,RR]
RR_QUANTUM=600
QUEUE_PREEMPTION=TRUE
SUSPENSION_TIMEOUT=60000


