# IP y puerto del Kernel Memory
KERNEL_MEMORY_IP=127.0.0.1
KERNEL_MEMORY_PORT=37215

# Ruta del archivo de swap en disco
SWAP_FILE_PATH=/tmp/tp_swap.bin

# Tamaño total del archivo de swap (en bytes)
SWAP_FILE_SIZE=4096

# Tamaño de cada bloque de swap (en bytes)
BLOCK_SIZE=64
