LOG_LEVEL=INFO

# IP y puerto de la máquina donde corre Kernel Memory
KERNEL_MEMORY_IP=127.0.0.1
KERNEL_MEMORY_PORT=23841

# Path al archivo binario que usa como espacio de swap
SWAP_FILE_PATH=/tmp/tp_swap.bin

# Tamaño total del archivo de swap en bytes
SWAP_FILE_SIZE=65536

# Tamaño de cada bloque de swap en bytes
BLOCK_SIZE=256
