LOG_LEVEL=DEBUG

# Puerto en el que escucha este módulo
KERNEL_MEMORY_PORT=23841

# Carpeta donde están los .prc de esta prueba (INIT_PROC los busca acá)
SCRIPTS_BASEPATH=/home/santino/tp-2026-1c-Impactante/PruebaFalla

SEGMENT_MAX_SIZE=128
ALLOCATION_STRATEGY=BEST
INSTRUCTION_DELAY=500
COMPACTION_DELAY=30000
