LOG_LEVEL=INFO

# IP y puerto del Kernel Memory
KERNEL_MEMORY_IP=127.0.0.1
KERNEL_MEMORY_PORT=37215

# El puerto para CPUs se elige automáticamente al iniciar cada instancia.

# Retardo artificial por operación de lectura/escritura (en microsegundos)
MEMORY_DELAY=500
